@import 'components/index.css';
@import 'pages/index.css';
/* GENERAL STYLING*/
/*body {
  overflow-x: hidden;
}*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #4f4f4f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*BACKGROUND IMAGE*/
#background-image {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
  object-fit: cover;
  background-size: cover;
}

.wrapper-transparent {
  flex: 1 1 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#title {
  position: absolute;
  top: -600px;
  left: 50vw;
}

.wrapper-nabvar {
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .wrapper-transparent {
    height: 92vh;
  }
}
