@import 'components/navbar.css';
@import 'components/basic.css';
@import 'components/contact.css';
@import 'components/button.css';
/* GENERAL STYLING*/
/*body {
  overflow-x: hidden;
}*/

body {
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 18px;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*BACKGROUND IMAGE*/
#background-image {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
  object-fit: cover;
  background-size: cover;
}

.wrapper-transparent {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
