.gray {
  background:rgba(238,238,230,1);
}

.white {
  background:rgba(255,255,255,1);
}

.filled {
  color: #6ad48a;
}

.my-wrapper h3 {
  margin-top: 20px;
}

.my-wrapper h4 {
  margin-top: 20px;
}

.my-wrapper p {
  margin-top: 20px;
}

.margin-top {
  margin-top: 100px;
}

.padding-left {
  padding-left: 60px;
}

.padding-top {
  padding-top: 80px;
}
.padding-bottom {
  padding-bottom: 150px;
}

.no-margin-top {
  margin-top: 0px !important;
}


.header {
  display: flex;
  justify-content: center;
}

.header h2 {
  font-size: 40px;
  border-bottom: 4px solid #6ad48a;
  padding: 0px 20px;
  margin-bottom: 30px;
}

.horizontal-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

/*// // // // // // // // //*/
.my-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .my-container {
    width: 600px;
  }
}
@media (min-width: 1120px) {
  .my-container {
    width: 800px;
  }
}

@media (min-width: 1600px) {
  .my-container {
    width: 1070px;
  }
}
