.btn-primary {
  width: 150px;
  padding: 10px 0px;
  border: 3px solid #6ad48a !important;
  background-color: transparent;
  border-radius: 5px !important;
  color: white;
  font-size: 20px;
  border: none;
  display: block;
  margin: auto;
  margin-top: 40px;
  transition: background 0.6s;
}

.btn-primary:hover {
  background-color: #6ad48a;
}
