.btn-primary {
  width: 150px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: #6ad48a;
  color: white;
  font-size: 20px;
  border: none;
  display: block;
  margin: auto;
}

.btn-primary:hover {
  opacity: 0.8;
}
