.card-website {
  height: 230px;
  width: 340px;
  background-size: cover;
  position: relative;
  margin: 0 20px;
}

.card-website i {
  position: absolute;
  z-index: 100;
  top: 3px;
  right: 3px;
  font-size: 30px;
  color: white;
}

.blue {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #042356;
  width: 23px;
  height: 23px;
}

.card-hover {
  height: 230px;
  width: 340px;
  transition: 0.6s ease;
  background-image: linear-gradient(-225deg, rgba(78,85,72,0.9) 0%, rgba(78,85,72,0.5) 50%);
  opacity: 0;
  padding: 20px;
  color: white;
}

.card-hover hr {
  margin: 10px 0 25px 0;
}

.card-website:hover .card-hover {
  opacity: 1;
}

.card-website:hover .card-hover h3, .card-website:hover .card-hover p {
  text-decoration: none;
}

