.cv-entry {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 30px;
}

.cv-entry i {
  margin: 20px 40px;
  justify-content: flex-start;
  /*color: #6ad48a;*/
  color: gray;
  background-color: rgba(238,238,230,1);
  z-index: 100;
  padding: 5px;
  border-radius: 50px;
}

.cv-info {
  padding: 0 20px 20px 20px;
  flex: 1 1 auto;
  background-color: white;
  position: relative;
}

.box-pointer {
  font-size: 0px; line-height: 0%; width: 0px;
  border-top: 20px solid rgba(238,238,230,1);
  border-right: 15px solid white;
  border-bottom: 20px solid rgba(238,238,230,1);
  position: absolute;
  top: 15px;
  left: -15px;
}

.date {
  flex: 0 0 auto;
  width: 150px !important;
}

.timeline {
  position: absolute;
  top: -30px;
  left: 215px;
  height: 108%;
  width: 8px;
  background-color: gray;
}
.timeline i {
  color: gray;
  font-size: 40px;
  position: absolute;
  top: -20px;
  left: -9px;
}

.position-relative {
  position: relative;
}
