.cv-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.cv-entry i {
  margin: 20px 40px;
  justify-content: flex-start;
  /*color: #6ad48a;*/
  color: gray;
  background-color: rgba(238,238,230,1);
  z-index: 9;
  padding: 5px;
  border-radius: 50px;
}

.cv-info {
  margin-left: 30px;
  padding: 0 20px 20px 20px;
  flex: 1 1 auto;
  /*background-color: white;*/
  position: relative;
}

.box-pointer {
/*  font-size: 0px; line-height: 0%; width: 0px;
  border-top: 20px solid rgba(238,238,230,1);
  border-right: 15px solid white;
  border-bottom: 20px solid rgba(238,238,230,1);
  position: absolute;
  top: 15px;
  left: -15px;*/
}

.card-date {
  height:70px;
  width:70px;
  background: url("../images/cercle-green-background.png");
  background-size: cover;
  z-index: 2;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  position: absolute;
  top: -30px;
  left: 73px;
  height: 108%;
  border-left: 2px dotted #6ad48a;
  display: none;
}


}
.timeline i {
  color: gray;
  font-size: 40px;
  position: absolute;
  top: -20px;
  left: -9px;
}

.position-relative {
  position: relative;
}

@media (min-width: 985px) {
  .cv-entry {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 30px;
  }

  .timeline {
    display: block;
  }

  .card-date {
    height:100px;
    width:100px;
  }
}
