.box-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(100,100,100,0.3);
  padding: 0px 60px 30px 60px;
}

.skills-domain {
  background-color: rgba(20,20,20,0.25);
  padding: 10px;
}

.stars i{
  color: #6ad48a;
}

.column-category h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.column-category ul > li {
  display: flex;
  justify-content: space-between;
}

.column-category ul li div i {
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  .box-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px 30px 30px;
  }

  .one-skill {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .skills {
    flex: 1 1 auto;
  }

  .stars {
    flex: 0 0 40px;
  }

  .column-category {
    width: 20%;
  }

  .larger {
    width: 28% !important;
  }
}

#img-skills {
  padding-top: 80px;
  padding-bottom: 200px;
  width: 100%;
  background-size: cover;
  color: white;
}

@media screen and (min-width: 1600px) {
  .one-skill {
    display: flex;
    flex-direction: row;
  }

  .stars {
    flex: 0 0 80px;
  }

}
